<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>

<form action="/albums">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Search</button>
</form>

<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>

Sort albums by <a href="/albums/sort/year">year</a> | <a href="/albums/sort/high_to_low">Cost: High to Low</a> | <a href="/albums/sort/low_to_high">Cost: Low to High</a> | <a href="/albums/sort/random">Random</a>
<br>
<a href="/albums/new">Add a new album</a>
