<h1>Add a new album</h1>

<form action="/albums" method="post">
  <div class="form-group">
    <label for="album_name">Album name</label>
    <input id="n" name="album_name" class="form-control" type="text">
    <label for="year">Album year</label>
    <input id="m" name="year" class="form-control" type="text">
    <label for="cost">Album cost</label>
    <input id="l" name="cost" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add album</button>
</form>
